[Unit]
Description=Gunicorn instance to serve cut-it
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/cut-it
EnvironmentFile=/etc/systemd/system/cut-it.env
ExecStart=/home/ubuntu/cut-it/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
