{% extends 'base.html' %}

{% block head %}
{% endblock %}
	
{% block section %}
<div class="text-center">
	<a href="#">
		<img class="rounded" src="../static/logo.png" alt="Brand Logo">
	</a>
</div>
<div class="txt_shorten col-lg-5">
	<form method="POST" action="/">
		<div class="input-group">
			{{ form.csrf_token }}
			{{ form.long_url(class="form-control", type="text", placeholder="Enter your URL") }}
			{{ form.submit(class="input-group-append form-field btn btn-primary") }}
		</div>
		<div class="errors">
			{% if form.long_url.errors %}
			<div>
				{% for error in form.long_url.errors %}
				<p class="alert alert-warning" role="alert">
					{{ error }}
				</p>
				{% endfor %}
			</div>
			{% endif %}
		</div>

	</form>
</div>
<div id="short_url" class="short_url input-group">
	<input id="url" value={{short_url}} readonly> 
	<button id="btn" class="btn" data-clipboard-target="#url">copy</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
	var btn = document.getElementById('btn');
	var clipboard = new ClipboardJS(btn);
	clipboard.on('success', function(e){
			console.log(e);
	})
	clipboard.on('error', function(e){
		console.log(e);
	})
</script>

{% endblock %}