{% extends 'base.html' %}

{% block section %}

<div class="stats">
	<table class="table table-hover table-striped table-bordered">
		<caption>Stats for all Short URLs Generated</caption>
		<thead class="thead-light">
			<tr>
				<th scope="col">Long URL</th>
				<th scope="col">Short URL</th>
				<th scope="col">Hits</th>
			</tr>
		</thead>
		<tbody>
			{% for obj in url %}
			<tr>
				<td>{{ obj['long_url']['S'] }}</td>
				<td><a href={{ obj['long_url']['S'] }}> /{{ obj['short_url']['S'] }}</a></td>
				<td>{{ obj['hits']['N']}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="graph" id="graph" style="width: 500px; height: 500px; "></div>

<script src="../static/js/script.js" type="application/javascript"></script>
<script type="text/javascript" src="../static/js/drawChart.js"></script>
</div>
</div>
{% endblock %}