{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block section %}

<div class="txt_shorten col-lg-5">
	<form method="POST" action="/">
		<div class="input-group">
			{{ form.csrf_token }}
			{{ form.long_url(class="form-control", type="search", placeholder="{{ long_url}") }}
			{{ form.submit(class="input-group-append form-field btn btn-primary") }}
		</div>
		<div class="errors">
			{% if form.long_url.errors %}
			<div>
				{% for error in form.long_url.errors %}
				<p class="alert alert-warning" role="alert">
					{{ error }}
				</p>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</form>
</div>
<div id="short_url" class="short_url">
	<p> The short url is
		<a href={{ long_url }} target="_blank"> {{ short_url}} </a>
	</p>
</div>
{% endblock %}